.board {
  display: inline-block;
  width: 360px;
  height: 400px;
  border: 1px solid blue;
}

.board img {
  width: 100%;
}

.board .title {
  display: inline-block;
}

.post {
  display: inline-block;
  margin: 20px;
}
